.divmain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border:2px solid red; */
    margin-top:20px;
}

.container{
    width: 65%;
    height: 5%;
    background-color: beige;
    border: 2px none;
    margin: 3px;
    padding: 2px;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border:2px solid blue; */

}

.box{
    height: 200px;
    width: 200px;
    border: 2px none;
    margin: 3px;
  
}

#box1{
    width: 600px;
    height: 140px;
    /* border:2px solid orange; */
    background-color: none;
    
    
    
    

}

.box h3{
    margin-bottom: 2%;
}

.box h4{
    margin-top: 3%;
}

.box p{
    /* margin-top: -2%; */
    margin-bottom: 1%;
}

#box2{
    background-color: none;
    display: flex;
    height: 140px;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
    /* border:2px solid black; */
}
.box img{
    height: 60%;
    margin-top: 5px;
    width: 90px;
    border-radius: 10px;
    /* border:2px solid red; */

}

.box button{
    width: 51%;
    height: 15%;

    border-radius: 12px;
    border: none;
    padding-bottom: 25px;
    
}

.button {
    /* border:2px solid yellow; */
  background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  margin-left: -1px;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 11px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  margin-top: 10px;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;

 /* margin-bottom: 6px;  */
}

.button:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.button:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.line {
    height: 2px;
    width: 65%;
    background-color: #d3d3d3;
    margin: 3px 0;
  }



