
.navdiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: sticky;
    top:0;
    z-index: 2;
/* left :18%; */
    align-items: center;
    height:9.8vh;
    /* overflow: auto; */
    /* border:2px solid red; */
    background-color:  #ffe3d6;
    padding-bottom:5px ;
    box-shadow: rgba(0, 0, 0, 0.18) 1.95px 1.95px 2.6px;
    
}

  

.logodiv{
   height: 90%;
    width:30%;
    position: relative;
    /* height: 9vh; */
    /* border:2px solid green; */
    display:flex;
    /* justify-content: center; */
    align-items: center;
    

    
}

.navlink{
    text-decoration: none;
}

/* .navlink:hover{
    border-bottom:2px solid #ff511c;
} */

.h2{
    color:rgb(25, 23, 23);
    padding-left:180px;
    font-size: 30px;


    
}
.span{
    color:#ff511c;
}

.listdiv{
    width:40%;
    height:90%;
    /* border:2px solid yellow; */
    display:flex;
    align-items: center;
    position: relative;

}

.list{
    list-style: none;
    display: flex;
    color: #000000;
    padding-top:5px;
    /* margin-top: 26px; */
}

.listItem{
    text-decoration: none;
    color: #000000;
    /* padding:10px 10px 5px 10px; */
    padding-top:5px;
    padding-bottom:5px;
    margin-left:30px;
    font-size: 17px;
    border-bottom: 2px solid #ff511c;
    
}

.list:hover .list:active{
    border-bottom:2px solid #ff511c;
}

.navlog{
    /* margin-top:15px; */
    width:20%;
    height:90%;
    margin-right: 20px;
    /* border:2px solid pink; */
    display: flex;
    margin-top: 10px;
    align-items: center;
    /* margin-right:100px; */
    position: relative;

    
}

button{
    width:80px;
    font-size: 16px;
    margin-left:10px;
    height:30px;
    /* padding:3px; */
    /* margin-top: 30px; */
    background-color: transparent;
    border:none;
    color: #000000;
    cursor: pointer;
    position: relative;

    
}

.login{
    font-weight:600;
    color: black;
    text-decoration: none;
}
.login:hover{
    text-shadow: rgba(0, 0, 0, 0.18) 1.95px 1.95px 2.6px; ;
}

.signup{
    background-color: #ff511c;
    color:white;
    border-radius: 5px;
    padding: 4px;
    height: 25px;
    width:60px;
    margin-left: 10px;
    text-decoration: none; 
     /* position: relative; */
}

.signup:hover{
    background-color: #d83b0b;

}