

.menucontainer{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    align-items: center;
    justify-content: center;
    height: 100%;
    gap:75px;
    /* border:2px solid red; */
    margin-top: 20px;
    
    /* padding: 0; */
}

.card-container{
    height:320px;
    width: 300px;
 /* flex: 0 0 calc(25% - 20px); 50% width for each item minus the gap */
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px;
    margin-bottom: -30px;
    /* border:2px solid green; */
}
.card-container:hover{
    transform: translateZ(20px);
}
.card-carousel{
    /* position: relative; */
    width: 95%;
    height:235px;

  
}
.slider{
    display: flex;
    overflow-x:hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    border-radius: 0.5rem;
    height: 240px;
    /* border:2px solid red; */
    margin-bottom: 100px;

}

.slider-image{
    flex: 1 0 100%;
    scroll-snap-align:start;
    object-fit: cover;
    /* animation: scroll 80s linear infinite ; */
    
}
.card-carousel img{
    width: 100%;
    object-fit: cover;
}
.container{
    height: 100vh;
    width: 100%;
 
}



.category{
    width: 100%;
    display: flex;
    justify-content: center;
}
.category button{
    height: 40px;
    width: 80%;
    background-color:#ff511c;
    border-radius: 10px;
    font-size: large;
    border: none;
    cursor: pointer;
    color: white;
    
}
.category button:focus{
    background: #ff3f05;
}



/* @keyframes scroll {
    0%{
        transform: translate(0);
    }
    100%{
        transform: translate(calc(-250px * 9));
    }
    
} */
